:root {
    --xlarge : 170px;
    --large : 28px;
    --medium : 18px;
    --small : 16px;
    --xsmall : 14px;
}
body {
    font-family: "Noto Sans KR", sans-serif;
    width: 100%;
    margin: 0 auto;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.main-container .main-wrapper {
    text-align: center;
}

.main-wrapper .date {
    font-size: var(--large);
    font-weight: 400;
}

.main-wrapper .time {
    font-size: var(--xlarge);
    font-weight: 400;
    margin-top: -35px;
}

.main-wrapper span {
    font-size: var(--large);
    font-weight: 400;
    margin-top: -35px;
}

.main-wrapper .search {
    display: flex;
    justify-content: center;
}

.main-wrapper #search-input {
    width: 600px;
    background-color: darkgrey;
    color: white;
    font-size: var(--medium);
    padding: 15px 0;
    border-radius: 20px;
    border: 0;
    text-align: center;
    margin-top: -10px;
}
.main-wrapper #search-input::placeholder{
    color: white;
    font-size: var(--medium);
}

.quote {
    font-size: var(--medium);
    position: fixed;
    bottom: 0;
    max-width: 800px;
    padding: 0 10px;
    margin-bottom: 20px;
    font-weight: 400; /* Changed font weight for better readability */
    text-align: center;
    color: #333; /* Changed text color for better contrast */
    background-color: #f8f8f8; /* Added background color for better visibility */
    border: 1px solid #ccc; /* Added border for clear separation */
    border-radius: 8px; /* Added border radius for smoother appearance */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added box shadow for depth effect */
}

.bookmark-open {
    width: 240px;
    padding: 15px 30px;
    font-size: var(--xsmall);
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-end;
}

.bookmark-close {
    width: 240px;
    padding: 15px 30px;
    font-size: var(--xsmall);
    height: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    color: black;
    display: flex;
    justify-content: flex-end;
}

.bookmark-open div {
    cursor: pointer;
}

.bookmark-close div {
    cursor: pointer;
}

.bookmark-bar {
    width: 240px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50px;
    right: 0px;
    min-height: calc(100vh - 70px);
    padding: 10px 30px;
    color: white;
}